* {
    background-color: white;
    padding: 5px 10px;
}

hr {
    border: none;
    height: 0.2px;
    background-color: green;
    margin-left: 20px;
    margin-right: 50px;
    margin-bottom: 0px;
}

.name_title h1{
    color: black;
    margin-top: 10px;
    margin-bottom: 0px;
}

.title_green {
    color: green;
    margin: 0px;
}

.contact_info p{
    margin-top: 0px;
}

.skills p {
    margin: 0px;
}

.title_color {
    margin: 0px;
    color: rgba(15, 137, 231, 0.922);
}


.Experience, .Experience_1 h3 {
    margin-left: -9px;
}

.Experience ul {
    margin-top: -12px;
    margin-bottom: -12px;
    margin-left: 25px;
}

.Experience_1 ul {
    margin-top: -12px;
    margin-bottom: -12px;
    margin-left: 25px;

}

.internet_connection ul {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25px;
}





